    
    .ctg-fieldselect {
        position: relative;
    }

        .ctg-fieldselect-value {
            display: inline-block;
        }

        .js .ctg-fieldselect-value select {
            display: block;
        }